</br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Portfolio</h4>
  </div>
<table class="table">
  <thead>
    <tr>
      <th>
        Cost Basis
      </th>
      <th>
        Current Value
      </th>
      <th>
        Profit/Loss
      </th>
      <th>
        1d
      </th>
      <th>
        7d
      </th>
      <th>
        30d
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>{{ summary.costBasis | currency }}</td>
      <td>{{ summary.currentValue | currency }}</td>
      <td>{{ summary.profitLoss | currency }}</td>
      <td>{{ summary.oneDay | currency }}</td>
      <td>{{ summary.sevenDay | currency }}</td>
      <td>{{ summary. thirtyDay | currency }}</td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>
        Symbol
      </th>
      <th>
        Quantity
      </th>
      <th>
        Cost Basis
      </th>
      <th>
        Current Value
      </th>
      <th>
        Profit/Loss
      </th>
      <th>
        Current Price
      </th>
      <th>
        1d
      </th>
      <th>
        7d
      </th>
      <th>
        30d
      </th>
      <th>
        Trade?
      </th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="position in portfolio">
      <td>{{ position.symbol }}</td>
      <td>{{ position.quantity | currency }}</td>
      <td>{{ position.costBasis | currency }}</td>
      <td>{{ position.currentValue | currency }}</td>
      <td>{{ position.profitLoss | currency }}</td>
      <td>{{ position.currentPrice | currency }}</td>
      <td>{{ position.oneDay | currency }}</td>
      <td>{{ position.sevenDay | currency }}</td>
      <td>{{ position. thirtyDay | currency }}</td>

      <td><a ui-sref="stocks.trade( { symbol: position.symbol } )">trade</a> </td>
    </tr>
  </tbody>
</table>
</div>

