<div>
    <form>

      <label for="symbol">Symbol</label>
      <input type="text" ng-model="symbol" value=""></br>

      <label for="trade-direction">Buy/Sell</label>
      <select ng-model="trade-direction">
        <option value="buy">Buy</option>
        <option value="sell">Sell</option>
      </select></br>

      <label for="trade-price">Price</label>
      <input type="number" ng-model="trade-price"></br>

      <label for="trade-quantity">Quantity</label>
      <input type="number" ng-model="trade-quantity"></br>

      <label for="trade-date">Date</label>
      <input type="date" ng-model="trade-date"></br>

      <button type="button">Input Trade</button>

    </form>
</div>