<h3>Transactions</h3>

<label for="filter">Filter</label>
<input type="text" ng-model="filter-symbol"></input>


<table>
  <thead>
    <tr>
      <th>
        Date
      </th>
      <th>
        Symbol
      </th>
      <th>
        Direction
      </th>
      <th>
        Quantity
      </th>
      <th>
        Price
      </th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="transaction in transactions">
      <td>{{transaction.date}}</td>
      <td>{{transaction.symbol}}</td>
      <td>{{transaction.direction}}</td>
      <td>{{transaction.quantity}}</td>
      <td>{{transaction.price}}</td>
    </tr>
  </tbody>
</table>
