<h3>Transactions</h3>

<label for="filter">Filter</label>
<input type="text" ng-model="filter-symbol"></input>


<table>
  <thead>
    <tr>
      <th>
        Date
      </th>
      <th>
        Symbol
      </th>
      <th>
        Type
      </th>
      <th>
        Quantity
      </th>
      <th>
        Price
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>

      </td>
      <td>

      </td>
      <td>

      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>
  </tbody>
</table>
